<!DOCTYPE html>
<html>

<head>
    {include file='common/header'}
    <title>layui</title>
    <!--引入webuploaderCss-->
    {Uploader:webuploadercss /}

    <style>
        .form-container{ padding-top: 30px;}
    </style>
</head>

<body>
    <div class="form-container">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">选择框</label>
                <div class="layui-inline">
                    <select name="city" lay-verify="required">
                        <option value="0">顶级分类</option>
                        <option value="0">北京</option>
                        <option value="1">上海</option>
                        <option value="2">广州</option>
                        <option value="3">深圳</option>
                        <option value="4">杭州</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">分类名称</label>
                <div class="layui-col-md2">
                    <input type="text" name="cate_name" lay-verify="cate_name" autocomplete="off" placeholder="请输入分类名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">显示到导航</label>
                <div class="layui-input-block">
                    <input type="radio" name="show_cate" value="1" title="是">
                    <input type="radio" name="show_cate" value="0" title="否" checked="">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">上传图片</label>
                <div class="layui-input-block upload-img-wrap">
                    {Uploader:webuploader btnVal="上传图片"}{/Uploader:webuploader}
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">关键词</label>
                <div class="layui-col-md4">
                    <textarea placeholder="请输入关键词内容" name="keywords" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">描述</label>
                <div class="layui-col-md4">
                    <textarea placeholder="请输入描述内容" name="description" class="layui-textarea"></textarea>
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

    {include file='common/footer'}
    <!--引入webuploaderJS-->
    {Uploader:webuploaderjs/}
    <script>
        var config = {
            "upload_server": "{:url('uploadImg')}"
        };

        feiy_upload.init({
            server: config.upload_server,
            fileNumLimit: 1
        });
    </script>
    <script>
        layui.use(['form', 'layedit', 'laydate'], function() {
            var form = layui.form,
                layer = layui.layer;

            //自定义验证规则
            form.verify({
                cate_name: function(value) {
                   if (value.length < 2) {
                       return '标题至少得2个字符啊';
                   }
               },
                content: function(value) {

                }
            });

            //监听提交
            form.on('submit(demo1)', function(data) {
                var formDom = data.form;
                var cate_img_lists = $("#uploader .filelist > li");
                var cate_img_url = setUpdateUrl(cate_img_lists);
                var params = "&cate_img="+cate_img_url;
                $.ajax({
                    url: "{:url('save')}",
                    type: "post",
                    data: $(formDom).serialize()+params,
                    success: function(res){
                        var msgParams = {
                            iconNum: 6,
                            anim: 0
                        };
                        if(res.code == 0){
                            msgParams.iconNum = 5;
                            msgParams.anim = 6;
                        }
                        layer.msg(res.msg, {icon: msgParams.iconNum,time:1000,anim:msgParams.anim});
                        setTimeout(function(){
                            if(res.data){
                                parent.window.location = res.data;
                            }
                        },1000);
                    }
                });


                return false;
            });


        });
    </script>

</body>

</html>