<!DOCTYPE html>
<html lang="en">
<head>
    {include file="common/header" /}
	<title>个人信息</title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/personal.css" media="all">
</head>
<body>
<section class="layui-larry-box">
	<div class="larry-personal">
	    <div class="layui-tab">
            <blockquote class="layui-elem-quote news_search">
		
		<div class="layui-inline" onclick="add('添加商品属性','{:url('add')}')">
			<a class="layui-btn layui-btn-normal newsAdd_btn">添加商品属性</a>
		</div>
		<div class="layui-inline">
			<div class="layui-form-mid layui-word-aux">本页面刷新后除新添加的文章外所有操作无效，关闭页面所有数据重置</div>
		</div>
	</blockquote>
            <form action="" method="post">
		         <!-- 操作日志 -->
                <div class="layui-form news_list">
                     <table class="layui-table">
                        <thead>
                            <tr>
                                <th width="30">ID</th>
                                <th class="tl">属性名称</th>
                                <th width="100">属性类型</th>
                                <th width="100">所属类型</th>
                                <th width="100">值</th>
                                <th width="200">操作</th>
                            </tr>
                        </thead>
                        <tbody class="news_content list-box-body">
                            {volist name="tbData" id="data"}
                            <tr>
                                <td align="center">{$data.id}</td>
                                <td>{$data.name}</td>
                                <td align="center">{if condition="$data.type == 1"}单选{else/}唯一{/if}</td>
                                <td align="center">{$data.type_name}</td>
                                <td align="center">{$data.values}</td>
                                <td align="center">
                                    <a class="layui-btn layui-btn-mini tb_edit" onclick="editFull('编辑分类','{:url('edit',['id'=>$data.id])}')"><i class="fa fa-pencil fa-fw"></i> 编辑</a>
                                    <a class="layui-btn layui-btn-danger layui-btn-mini tb_del" onclick="product_del(this,{$data.id})"><i class="layui-icon"></i> 删除</a>
                                </td>
                            </tr>
                            {/volist}
                        </tbody>
                     </table>

                     <div class="larry-table-page clearfix">
                          <div class="paging">
                              {$tbData->render()}
                          </div>
                     </div>
			    </div>
            </form>
		    </div>
		</div>
	
</section>

{include file="common/footer" /}

<script type="text/javascript">

    $(function(){
        if($(".list-box-body tr").length <= 1){
            $(".sort-tr-wrap").hide();
        }else{
            $(".sort-tr-wrap").show();
        }
    });


    /*产品-删除*/
    function product_del(obj,id){
        var url = "{:url('del')}?id="+id;
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                type: 'get',
                url: url,
                success: function(data){
                    console.log(data);
                    if(data.code == 1){
                        layer.close(index);
                        layer.msg('已删除!',{icon:1,time:1000});
                        window.location = "{:url('lst')}";
                    }
                },
                error:function(data) {
                    console.log(data.msg);
                },
            });
        });
    }


    function delMore() {
        var idsArr = getCheckedId().idsArr;
        var $checkDoms = getCheckedId().checkDoms;
        reqChangeStutas({
            idsArr: idsArr,
            url:"{:url('del')}",
            msgTip:'请先选择要删除的产品!',
            confirmTip:'确认要删除吗？',
            sCallback: function(data){
                $checkDoms.each(function(index,item){
                    $(item).parents('tr').remove();
                });
                layer.msg('已删除!',{icon:1,time:1000});
            }
        });
    }

    function getCheckedId() {
        var $checkDoms = $('.list-box-body').find('input[type="checkbox"][name="checked"]:checked');
        var idsArr = [];
        $checkDoms.each(function (index,item) {
            idsArr.push($(item).data('id'));
        });
        return {
            idsArr:idsArr,
            checkDoms:$checkDoms
        };
    }
    
    function reqChangeStutas(opts) {
        var idsArr = opts.idsArr || [];
        if(idsArr.length == 0){
            layer.msg(opts.msgTip||'请先选择',{icon:1,time:1500});
            return false;
        }
        layer.confirm(opts.confirmTip||'确认吗？',function(index){
            console.log(index);
            $.ajax({
                url: opts.url,
                type: opts.method || "POST",
                data: {idsArr:idsArr},
                success: function(data){
                    opts.sCallback && opts.sCallback(data);
                },
                error:function(data) {
                    opts.eCallback && opts.eCallback(data);
                }
            });
        });
    }
    
    layui.config({
        base: '__STATIC__/admin/js/'
    }).use(['form','layer','element','laypage'],function(){
        window.layer = layui.layer;
        var element = layui.element,
        form = layui.form;


    });
</script>
</body>
</html>