<!DOCTYPE html>
<html>

<head>
    {include file='common/header'}
    <title>layui</title>
    <!--引入webuploaderCss-->
    {Uploader:webuploadercss /}

    <style>
        .form-container{ padding-top: 30px;}
    </style>
</head>

<body>
<div class="form-container">
    <form class="layui-form" action="">
        <input type="hidden" value="{$editData.id}" name="id">
        <div class="layui-form-item">
            <label class="layui-form-label">父级分类</label>
            <div class="layui-inline">
                <select name="type_id" lay-verify="required">
                    <option value="0">顶级分类</option>
                    {volist name='categoryRes' id='resData'}
                    <option {if condition="$editData.type_id == $resData.id"}selected {/if}  value='{$resData.id}'>{$resData.name}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">属性名称</label>
            <div class="layui-col-md2">
                <input type="text" name="name" value="{$editData.name}" lay-verify="name" autocomplete="off" placeholder="请输入属性名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">属性类型</label>
            <div class="layui-input-block">
                <input type="radio" name="type" value="1" title="单选" {if condition="$editData.type eq 1"}checked{/if}>
                <input type="radio" name="type" value="2" title="唯一" {if condition="$editData.type eq 2"}checked{/if}>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">属性值列表</label>
            <div class="layui-col-md4">
                <textarea placeholder="请输入属性值" name="values" class="layui-textarea">{$editData.values}</textarea>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

{include file='common/footer'}

<script>
    layui.use(['form', 'layedit', 'laydate'], function() {
        var form = layui.form,
            layer = layui.layer;

        //自定义验证规则
        form.verify({
            name: function(value) {
                if (value.length < 2) {
                    return '标题至少得2个字符啊';
                }
            },
            content: function(value) {

            }
        });

        //监听提交
        form.on('submit(demo1)', function(data) {
            var formDom = data.form;
            $.ajax({
                url: "{:url('save')}",
                type: "post",
                data: $(formDom).serialize(),
                success: function(res){
                    var msgParams = {
                        iconNum: 6,
                        anim: 0
                    };
                    if(res.code == 0){
                        msgParams.iconNum = 5;
                        msgParams.anim = 6;
                    }
                    layer.msg(res.msg, {icon: msgParams.iconNum,time:1000,anim:msgParams.anim});
                    setTimeout(function(){
                        if(res.data){
                            parent.window.location = res.data;
                        }
                    },1000);
                }
            });


            return false;
        });


    });
</script>

</body>

</html>